@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    background-color: black;
    color: whitesmoke;
    font-family: "Poppins", Whitney, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    min-height: 100vh;
    padding: 20px
}

main {
    width: auto;
    padding: 20px;
    position: absolute;
    top: 20%;
    left: 20%;
    transform: translate(0, 0)
}

h2 {
    text-align: center;
    margin-bottom: 2rem
}

.signup-form {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    align-items: flex-start
}

.form-section-wrapper {
    width: auto;
    height: auto
}

.basic-data-wrapper {}

.basic-data {
    width: 25rem;
    border: 3px solid whitesmoke;
    border-radius: 15px;
    padding: 1rem;
    transition: transform 0.2s ease-in-out
}

.inputs-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    flex-direction: column;
    width: 100%;
    margin: 0
}

.inputContainer {
    border: none;
    margin: 15px 0;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 300px
}

.inputField {
    border: 2px solid white;
    background-color: transparent;
    border-radius: 10px;
    padding: 12px 40px 12px 40px;
    color: white;
    font-weight: 500;
    outline: none;
    caret-color: rgb(155, 78, 255);
    font-family: monospace;
    transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease
}

.inputField.masked {
    color: transparent;
    font-size: 0.8rem
}

.inputField.weak {
    border-color: #ff4d4d;
    color: #ff4d4d
}

.inputField.medium {
    border-color: #ffeb3b;
    color: #ffeb3b
}

.inputField.strong {
    border-color: #69f0ae;
    color: #69f0ae
}

.userIcon {
    position: absolute;
    fill: rgb(155, 78, 255);
    width: 12px;
    top: -25px;
    left: 10px;
    opacity: 0;
    transition: .2s linear
}

.usernameLabel {
    position: absolute;
    top: -25px;
    left: 30px;
    color: white;
    font-size: 14px;
    font-weight: 400;
    overflow: hidden;
    transition: .2s linear;
    opacity: 0
}

.inputField:focus~.usernameLabel,
.inputField:valid~.usernameLabel,
.inputField:focus~.userIcon,
.inputField:valid~.userIcon {
    opacity: 1
}

.inputField:focus,
.inputField:valid {
    background-color: #ddd3
}

.toggle-password {
    --color: #a5a5b0;
    --size: 1rem;
    position: absolute;
    right: 12px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    height: var(--size);
    cursor: pointer;
    fill: var(--color)
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0
}

.container .eye {
    animation: keyframes-fill .5s
}

.container .eye-slash {
    animation: keyframes-fill .5s;
    display: none
}

.container input:checked~.eye {
    display: none
}

.container input:checked~.eye-slash {
    display: block
}

@keyframes keyframes-fill {
    0% {
        transform: scale(0);
        opacity: 0
    }

    50% {
        transform: scale(1.2)
    }
}

.personal-data-wrapper {
    width: auto;
    height: auto
}

.personal-data {
    width: 12rem;
    height: auto;
    padding: 1.5rem 1rem;
    border: 3px solid whitesmoke;
    border-radius: 15px;
    transition: transform 0.2s ease-in-out
}

.radio-container {
    margin: 0;
    max-width: 300px;
    color: white
}

.radio-wrapper {
    margin-bottom: 20px
}

.radio-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out
}

.radio-button:hover {
    transform: translateY(-2px)
}

.radio-button input[type="radio"] {
    display: none
}

.radio-checkmark {
    display: inline-block;
    position: relative;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    border: 2px solid #333;
    border-radius: 50%
}

.radio-checkmark:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: white;
    transition: all 0.2s ease-in-out
}

.radio-button input[type="radio"]:checked~.radio-checkmark:before {
    transform: translate(-50%, -50%) scale(1)
}

.radio-label {
    font-size: 16px;
    font-weight: 600
}

.personal-data {
    transition: all 0.3s ease
}

.personal-data.is-radio-active {
    transform: translateY(-15px)
}
.newselletr-data-wrapper {
    padding: 15px 20px;
    border: 3px solid whitesmoke;
    border-radius: 15px;
    gap: 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
.container {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.container input {
    display: none;
}

.container svg {
    overflow: visible;
}

.path {
    fill: none;
    stroke: white;
    stroke-width: 6;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: stroke-dasharray 0.5s ease, stroke-dashoffset 0.5s ease;
    stroke-dasharray: 241 9999999;
    stroke-dashoffset: 0;
}

.container input:checked~svg .path {
    stroke-dasharray: 70.5096664428711 9999999;
    stroke-dashoffset: -262.2723388671875;
}
